OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.6-luna
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=s8jjrm6NWZGTCcEu93RX
ELEVENLABS_MODEL_ID=eleven_flash_v2_5
ROBINHOODCHAIN_RPC_URL=https://rpc.mainnet.chain.robinhood.com
VLADINATOR_WALLET_ADDRESS=0x5fdb24bcd0b3b7a0a7c1ce17cc6b10a1441147b7
PORT=4173
X_API_KEY=
X_API_SECRET=
X_BEARER_TOKEN=
X_CLIENT_ID=
X_CLIENT_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=
X_USER_ID=
X_AUTOMATION_ENABLED=false
BACKEND_PAUSED=true
X_RESEARCH_ENABLED=false
X_RESEARCH_DRY_RUN=true
X_AUTO_REPLY_ENABLED=false
X_AUTO_QUOTE_ENABLED=false
X_ACCOUNT_POLL_INTERVAL_MS=300000
X_TOPIC_SEARCH_INTERVAL_MS=900000
X_MAX_RESULTS_PER_QUERY=10
X_MIND_SYNC_URL=
X_MIND_SYNC_TOKEN=
CONTAINER_CONTROL_TOKEN=
